
body{
    font-family: Poppins;
}
.user-panel{
    padding: 35px 10px 20px 10px;
}
.main-header .logo{
    height: 65px;
}
.main-header .sidebar-toggle{
    padding: 22px;
}
.navbar-nav > li > a{
    padding:22px 15px;
}
.content-wrapper{
    padding: 10px 15px;
}
.box.box-primary{
    padding: 15px;
}
.fa{
    font-size: 15px;
}
.bedit a i{
    padding: 0px 5px;
}
.pustatus ul{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 30px;

}
.pustatus ul li i{
    padding-right: 5px;
}
.pustatus ul li{
    margin-bottom: 10px;
}
.navbar-nav{
    margin-right: 29px;
}
small.breddes a i{
    margin-right: 5px;
}
i.icheck{
    margin-right: 5px;
}
.box-footer.fboxm button{
    margin-right: 20px;
}
.alert-warning.customm{
    margin: 0px 10px;
    border-radius: 0px;
}
p.text-red{
    margin-top: 5px;
}
.checkbox.cboxcus label{
    display: block;
    
}
